#topVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.blog{
    background: url(picture/bg-img.jpg);
}

header{
    height: 580px;
}

.title{
    font-size: 45px;
}

.fa-solid{
    background-color: #86888b ;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.text{
    color: #909294;
    font-size: 22px;
}

.card{
    width: 370px;
}

aside{
    margin: 5% 10%;
}


.andrew{
    background-color: black;
    opacity: 0.6;

}